{% extends "main/layout.html" %}
{% block content %}
  <!-- /-/-/-/-/-/-/-/-/-/-/-/-/- -->
  <!--  contact form-->
  {% load crispy_forms_tags %}
  <div class="content-section container">
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <fieldset class="form-group">
        <legend class="border-bottom mb-4">contact form</legend>
          {{ form|crispy }}
        <button class="btn btn-outline-info" type="submit" style="float: right;"> send request </button>
      </fieldset>
    </form>

  </div>
  <!-- /-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/ -->
  {% endblock content %}