{% extends "main/layout.html" %}

{% block content %}

  <!-- /-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/ -->
  <h6 style="text-align:center;">search profile by name and current status</h6>
  <p style="text-align:center;">total profiles - {{total}}</p>
  <div class="container">
    <form action="{% url 'resultProfile' %}" class="d-flex" method="POST">
      {% csrf_token %}
      <nav style="background-color: #84a3d4; margin-top: 10px;" >
        <div class="nav-wrapper">
          <form>
            <div class="input-field">
              <input id="search" type="search" name="searchProfile" required>
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </div>
      </nav>
    </form>

    {% if randomProfiles.count > 0 %}
      <ul class="collection">
        {% for i in randomProfiles %}
          <li class="collection-item avatar">
            <img src="{{i.user_image.url}}" alt="" class="circle">
            <a href="{% url 'profile_info' i.id %}" class="title">{{ i.app_user }}</a>
            <p><a href="{% url 'profile_info' i.id %}" class="title">
              {{i.app_user.first_name}} {{ i.app_user.last_name }}
            </a></p>
            <p>{{ i.current_status }}</p>
            {% if i.app_user.is_staff %}
              <a href="{% url 'profile_info' i.id %}" class="secondary-content"><i class="material-icons">grade</i></a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% else %}
        <h5>No search result for <b>{{searched}}</b>, try different naming convection</h5>
    {% endif %}
  </div>
{% endblock content %}